body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./assets/images/greyzz.png")
}

/* @font-face {
    font-family: 'madelynregular';
    src: url('madelyn-webfont.eot');
    src: url('madelyn-webfont.eot?#iefix') format('embedded-opentype'),
         url('madelyn-webfont.woff2') format('woff2'),
         url('madelyn-webfont.woff') format('woff'),
         url('madelyn-webfont.ttf') format('truetype'),
         url('madelyn-webfont.svg#madelynregular') format('svg');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
  font-family:'gillsanslight';
  src: url('./assets/fonts/GillSansMTPro-Light.otf') format("opentype");
}

@font-face {
    font-family: 'ralewaythin';
    src: url('./assets/fonts/raleway/raleway_thin-webfont.eot');
    src: url('./assets/fonts/raleway/raleway_thin-webfont.woff') format('woff'),
         url('./assets/fonts/raleway/raleway_thin-webfont.ttf') format('truetype'),
         url('./assets/fonts/raleway/raleway_thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
