@font-face {
    font-family: 'isabelblack-italic';
    src: url('./isabel_blackitalic_macroman/isabel-black-italic-webfont.eot');
    src: url('./isabel_blackitalic_macroman/isabel-black-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabel_blackitalic_macroman/isabel-black-italic-webfont.woff2') format('woff2'),
         url('./isabel_blackitalic_macroman/isabel-black-italic-webfont.woff') format('woff'),
         url('./isabel_blackitalic_macroman/isabel-black-italic-webfont.ttf') format('truetype'),
         url('./isabel_blackitalic_macroman/isabel-black-italic-webfont.svg#isabelblack-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'isabelblack';
    src: url('./isabel_black_macroman/isabel-black-webfont.eot');
    src: url('./isabel_black_macroman/isabel-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabel_black_macroman/isabel-black-webfont.woff2') format('woff2'),
         url('./isabel_black_macroman/isabel-black-webfont.woff') format('woff'),
         url('./isabel_black_macroman/isabel-black-webfont.ttf') format('truetype'),
         url('./isabel_black_macroman/isabel-black-webfont.svg#isabelblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'isabelbold_italic';
    src: url('./isabel_bolditalic_macroman/isabel-bold-italic-webfont.eot');
    src: url('./isabel_bolditalic_macroman/isabel-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabel_bolditalic_macroman/isabel-bold-italic-webfont.woff2') format('woff2'),
         url('./isabel_bolditalic_macroman/isabel-bold-italic-webfont.woff') format('woff'),
         url('./isabel_bolditalic_macroman/isabel-bold-italic-webfont.ttf') format('truetype'),
         url('./isabel_bolditalic_macroman/isabel-bold-italic-webfont.svg#isabelbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'isabelbold';
    src: url('./isabel_bold_macroman/isabel-bold-webfont.eot');
    src: url('./isabel_bold_macroman/isabel-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabel_bold_macroman/isabel-bold-webfont.woff2') format('woff2'),
         url('./isabel_bold_macroman/isabel-bold-webfont.woff') format('woff'),
         url('./isabel_bold_macroman/isabel-bold-webfont.ttf') format('truetype'),
         url('./isabel_bold_macroman/isabel-bold-webfont.svg#isabelbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'isabellight';
    src: url('./isabel_light_macroman/isabel-light-webfont.eot');
    src: url('./isabel_light_macroman/isabel-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabel_light_macroman/isabel-light-webfont.woff2') format('woff2'),
         url('./isabel_light_macroman/isabel-light-webfont.woff') format('woff'),
         url('./isabel_light_macroman/isabel-light-webfont.ttf') format('truetype'),
         url('./isabel_light_macroman/isabel-light-webfont.svg#isabellight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'isabellight-italic';
    src: url('./isabel_lightitalic_macroman/isabel-light-italic-webfont.eot');
    src: url('./isabel_lightitalic_macroman/isabel-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabel_lightitalic_macroman/isabel-light-italic-webfont.woff2') format('woff2'),
         url('./isabel_lightitalic_macroman/isabel-light-italic-webfont.woff') format('woff'),
         url('./isabel_lightitalic_macroman/isabel-light-italic-webfont.ttf') format('truetype'),
         url('./isabel_lightitalic_macroman/isabel-light-italic-webfont.svg#isabellight-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'isabelitalic';
    src: url('./isabel_italic_macroman/isabel-regular-italic-webfont.eot');
    src: url('./isabel_italic_macroman/isabel-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabel_italic_macroman/isabel-regular-italic-webfont.woff2') format('woff2'),
         url('./isabel_italic_macroman/isabel-regular-italic-webfont.woff') format('woff'),
         url('./isabel_italic_macroman/isabel-regular-italic-webfont.ttf') format('truetype'),
         url('./isabel_italic_macroman/isabel-regular-italic-webfont.svg#isabelitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'isabelregular';
  src: url('./isabel_regular_macroman/isabel-regular-webfont.eot');
  src: url('./isabel_regular_macroman/isabel-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('./isabel_regular_macroman/isabel-regular-webfont.woff2') format('woff2'),
        url('./isabel_regular_macroman/isabel-regular-webfont.woff') format('woff'),
        url('./isabel_regular_macroman/isabel-regular-webfont.ttf') format('truetype'),
        url('./isabel_regular_macroman/isabel-regular-webfont.svg#isabelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'isabelthin';
    src: url('./isabel_thin_macroman/isabel-thin-webfont.eot');
    src: url('./isabel_thin_macroman/isabel-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabel_thin_macroman/isabel-thin-webfont.woff2') format('woff2'),
         url('./isabel_thin_macroman/isabel-thin-webfont.woff') format('woff'),
         url('./isabel_thin_macroman/isabel-thin-webfont.ttf') format('truetype'),
         url('./isabel_thin_macroman/isabel-thin-webfont.svg#isabelthin') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'isabelthin-italic';
    src: url('./isabel_thinitalic_macroman/isabel-thin-italic-webfont.eot');
    src: url('./isabel_thinitalic_macroman/isabel-thin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabel_thinitalic_macroman/isabel-thin-italic-webfont.woff2') format('woff2'),
         url('./isabel_thinitalic_macroman/isabel-thin-italic-webfont.woff') format('woff'),
         url('./isabel_thinitalic_macroman/isabel-thin-italic-webfont.ttf') format('truetype'),
         url('./isabel_thinitalic_macroman/isabel-thin-italic-webfont.svg#isabelthin-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'isabel_unicasethin';
    src: url('./isabelunicase_thin_macroman/isabelunicase-thin-webfont.eot');
    src: url('./isabelunicase_thin_macroman/isabelunicase-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabelunicase_thin_macroman/isabelunicase-thin-webfont.woff2') format('woff2'),
         url('./isabelunicase_thin_macroman/isabelunicase-thin-webfont.woff') format('woff'),
         url('./isabelunicase_thin_macroman/isabelunicase-thin-webfont.ttf') format('truetype'),
         url('./isabelunicase_thin_macroman/isabelunicase-thin-webfont.svg#isabel_unicasethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'isabel_unicaselight';
    src: url('./isabelunicase_light_macroman/isabelunicase-light-webfont.eot');
    src: url('./isabelunicase_light_macroman/isabelunicase-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabelunicase_light_macroman/isabelunicase-light-webfont.woff2') format('woff2'),
         url('./isabelunicase_light_macroman/isabelunicase-light-webfont.woff') format('woff'),
         url('./isabelunicase_light_macroman/isabelunicase-light-webfont.ttf') format('truetype'),
         url('./isabelunicase_light_macroman/isabelunicase-light-webfont.svg#isabel_unicaselight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'isabel_unicaseregular';
    src: url('./isabelunicase_regular_macroman/isabelunicase-regular-webfont.eot');
    src: url('./isabelunicase_regular_macroman/isabelunicase-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./isabelunicase_regular_macroman/isabelunicase-regular-webfont.woff2') format('woff2'),
         url('./isabelunicase_regular_macroman/isabelunicase-regular-webfont.woff') format('woff'),
         url('./isabelunicase_regular_macroman/isabelunicase-regular-webfont.ttf') format('truetype'),
         url('./isabelunicase_regular_macroman/isabelunicase-regular-webfont.svg#isabel_unicaseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'madelynregular';
    src: url('./madelyn_regular_macroman/madelyn-webfont.eot');
    src: url('./madelyn_regular_macroman/madelyn-webfont.eot?#iefix') format('embedded-opentype'),
         url('./madelyn_regular_macroman/madelyn-webfont.woff2') format('woff2'),
         url('./madelyn_regular_macroman/madelyn-webfont.woff') format('woff'),
         url('./madelyn_regular_macroman/madelyn-webfont.ttf') format('truetype'),
         url('./madelyn_regular_macroman/madelyn-webfont.svg#madelynregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'madelyn_doodlesregular';
    src: url('./madelyndoodles_regular/madelyndoodles-webfont.eot');
    src: url('./madelyndoodles_regular/madelyndoodles-webfont.eot?#iefix') format('embedded-opentype'),
         url('./madelyndoodles_regular/madelyndoodles-webfont.woff2') format('woff2'),
         url('./madelyndoodles_regular/madelyndoodles-webfont.woff') format('woff'),
         url('./madelyndoodles_regular/madelyndoodles-webfont.ttf') format('truetype'),
         url('./madelyndoodles_regular/madelyndoodles-webfont.svg#madelyn_doodlesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

